<table class="table {% if condense %}table-condensed{% endif %}">
    <thead>
        <tr>
            <th class="col-sm-1">&nbsp;</th>
            <th class="col-sm-8">Product</th>
            <th class="col-sm-1">Qty.</th>
            <th class="col-sm-1">Price</th>
            <th class="col-sm-1">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in basketItems %}
            {% partial 'miniBasket::_item' item=item %}
        {% endfor %}
    </tbody>
</table>

<div class="row">
    {% if basketBtn %}
    <div class="col-sm-6">
        <a href="{{ 'basket'|page }}"
            class="btn btn-block btn-default pull-left">
            View Basket
        </a>
    </div>
    {% endif %}
    <div class="col-sm-{% if basketBtn %}6{% else %}12{% endif %}">
        <button type="submit"
                class="btn btn-primary {% if basketBtn %}btn-block pull-right{% endif %}"
                data-request="{% if basketBtn %}mini{% else %}shop{% endif %}Basket::onGoToCheckout">
            {{ checkoutText }}
        </button>
    </div>
</div>
