<div class="btn-group">
  <button class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
    <i class="glyphicon glyphicon-shopping-cart glyphicon-large"></i>
    {% if basketCount %}
    &nbsp;<span class="ocshop-count">{{ basketCount }}</span>
    {% if basketCount == 1 %} item {% else %} items {% endif %}
    &mdash; &pound;<span class="ocshop-total">{{ basketTotal }}</span>
    {% else %}
    Basket is empty
    {% endif %}
    &nbsp;<span class="caret"></span>
  </button>
  <div class="dropdown-menu" role="menu">
    <div class="container">
      {% partial 'basket_items' condense=true checkoutText='Checkout' basketBtn=true %}
    </div>
  </div>
</div>
