<div class="thumbnail">

    {% if product.images|length == 0 %}
        <img class="img-rounded" alt="{{ product.title }}"
             src="http://placehold.it/179/179" />
    {% else %}
        <!-- HERE BE DRAGONS! -------------------------------------------------->
        <!-- This is a dirty hack. There is really only one image, but with   -->
        <!-- $product->image = $product->images->first() in the model, we get -->
        <!-- a "Call to member function on non-object" error, despite it      -->
        <!-- being passed a File object.          Yeah... Don't ask. No idea. -->
        {% for image in product.images %}
        <img class="img-rounded" alt="{{ product.title }}"
             src="{{ product.getSquareThumb(179, image) }}" />
        {% endfor %}
    {% endif %}

    <div class="caption">
        <a href="{{ product.url }}">
            <h4 title="{{ product.title }}">{{ product.title }}</h4>
        </a>
        <div class="row">
            <div class="col-xs-4">
                <h4>&pound;{{ product.price }}</h4>
            </div>
            <div class="col-xs-8">
                {% if product.inStock() %}
                    <button type="submit" class="btn btn-sm btn-primary pull-right"
                        data-request="{{ basketComponent }}::onAddProduct"
                        data-request-data="id: {{ product.id }}, quantity: 1"
                        {% if basket %}
                            data-request-update="'{{ basketPartial }}' : '{{ basket }}'  "
                        {% endif %}
                    >
                        Add to Basket
                    </button>
                {% else %}
                    <button type="button" class="btn btn-sm btn-danger pull-right" disabled>
                        Out of Stock
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
