body {
  padding-top: 70px;
}

.navbar-brand img {
    margin-top: -5px;
}

#minibasket .container {
    width: 470px;
}

/**
 * Duplicate Bootstrap's alert-danger class because
 * October uses error, not danger.
 */
.alert.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-error hr {
    border-top-color: #e4b9c0;
}
.alert-error .alert-link {
    color: #843534;
}
