title = "Browse Products"
url = "/browse/:slug?"
layout = "default"

[shopProducts]
idParam = ":slug"
basketContainer = "#minibasket"
categoryFilter = ":slug"
productPage = "product"

[shopCategories]
categoryPage = "browse"
==
<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            {% for cat in categories %}
            <a class="list-group-item{% if cat.id == category.id %} active{% endif %}" href="{{ cat.url }}">
                {{ cat.title }}

                <span class="badge">
                    {{ cat.products.count }}
                </span>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-9">
        {% component 'shopProducts' %}
    </div>
</div>
