title = "Browse Products"
url = "/browse/:slug?"
layout = "default"

[shopProductList]
category = "{{ :slug }}"
basket = "#minibasket"
productPage = "product"

[shopCategories]
categoryPage = "browse"
==
<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            {% for cat in categories %}
            <a class="list-group-item{% if cat.id == category.id %} active{% endif %}" href="{{ cat.url }}">
                {{ cat.title }}

                <span class="badge">
                    {{ cat.productCount }}
                </span>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            {% for product in products %}
                <div class="col-xs-6 col-sm-4 col-lg-3">
                    {% partial 'product_small' product=product %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
